.coupon-content-header {
		height: 40px;
		line-height: 40px;
		padding: 0 15px;
		font-size: 12px;
		color: #333333;
		text-align: left;
		border-bottom: 1px solid #e5e5e5;
		background: #FFFFFF;
	}
	.lqClass{
		width: 80px;
		height: 30px;
		display: block;
		background: #F00B0D;
		color: #FFFFFF;
		margin: auto;
		line-height: 30px;
		border-radius: 3px;
	}
	.couponList {
		
		padding:20px 15px;
	}
	
	.couponList-item {
		width: 100%;
		height: 125px;
		border-radius: 5px;
		overflow: hidden;
		margin-bottom: 10px;
	}
	
	.couponList-item-left {
		width: 25%;
		height: 125px;
		background: #FFFFFF url(/static/img/coupon.png) no-repeat;
		background-size: 100% 125px;
		color: #FFFFFF;
	}
	
	.couponList-item-left .couponList-ticket {
		margin: 0 5px 0 5px;
		
		height: 55px;
		line-height: 55px;
		border-bottom: 1px solid #c63838;
		font-size: 12px;
		text-align: center;
	}
	
	.couponList-item-left .couponList-ticket .numMony {
		font-size: 18px;
	}
	
	.couponList-item-left .couponList-font {
		font-size: 15px;
		line-height: 65px;
	}
	.paddingTop p{
		text-align: center;
		margin-top: 10px;
	}
	.couponList-item-right {
		width: 75%;
		
		background: #FFFFFF;
	}
	
	.couponList-info {
		padding: 10px 0;
		border-bottom: 1px solid #E5E5E5;
		margin: 0 10px;
	}
	
	
	
	.couponList-info .headl {
		font-size: 18px;
		color: #333333;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-align: left;
	}
	
	.couponList-info .referral {
		font-size: 13px;
		color: #f19e38;
		text-align: left;
		margin-top: 5px;
	}
		
	.couponList-info .address {
		font-size: 12px;
		color: #999999;
		text-align: left;
		
	}
	
	.couponList-info-timeCont {
		font-size: 13px;
		line-height: 38px;
		margin: 0 10px;
		color: #999999;
		overflow: hidden;
		position: relative;
	}
	
	.couponList-info-timeCont .time {
		text-align: left;
		font-size: 12px;
	}
	
	.couponList-info-timeCont .infoRight {
		display: block;
		width: 60px;
		font-style: normal;
		color: #dd3e3e;
		position: absolute;
		right: 0;
		top: 0px;
	}
	
.paddingTop{
	margin-top: 30%;
}

.paddingTop p{
	font-size: 15px;
}
