



.register-content-header {
	padding: 18px 15px;
	font-size: 19px;
	color: #555555;
}

.register-from-item .mint-cell-wrapper {
	background-image: none;
}

.register-from a {
	text-decoration: none;
}

.register-from .mint-cell-wrapper {
	padding-left: 0;
	font-size: 15px;
}

.register-from .mint-cell-wrapper .mint-cell-title {
	text-align: left;
	padding-left: 15px;
}

.register-from .mint-cell-wrapper .mint-cell-value {
	font-size: 14px;
	margin-top: 5px;
}

.register-from .mint-cell-wrapper .mint-cell-value .mint-field-core {
	background: #FFFFFF;
}

.register-buttonCont {
	width: 100%;
	margin-top: 30px;
	padding: 0 15px;
}

.borderTop {
	border-top: 1px solid #CCCCCC;
}

.register-buttonCont .mint-button--normal {
	width: 100%;
	background: #f19e38;
	color: #FFFFFF;
}

.register-from-item {
	position: relative;
}

.register-from-item .yzm {
	display: block;
	width: 100px;
	height: 35px;
	line-height: 35px;
	border: none;
	background: #f19e38;
	color: #FFFFFF;
	border-radius: 3px;
	position: absolute;
	right: 10px;
	top: 6px;
	font-size: 14px;
}

.register-buttonCont .status {
	text-align: left;
	font-size: 12px;
	margin-top: 5px;
}

.register-buttonCont .status span {
	color: #f19e38;
}