.center-info {
		display: -webkit-flex;
		display: flex;
		background: #dd3e3e;
		padding: 20px 15px;
	}

	.center-info-img {
		display: block;
		width: 75px;
		height: 75px;
		border-radius: 50%;
	}

	.center-info-img img {
		
		width: 75px;
		height: 75px;
		border-radius: 50%;
	}

	.info-right {
		margin-left: 22px;
		color: #FFFFFF;
		text-align: left;
		padding-top: 18px;
	}

	.info-right p {
		margin: 0;
	}

	.info-right .account {
		font-size: 18px;
	}

	.info-right .grade {
		font-size: 14px;
	}

	.center-score {
		display: -webkit-flex;
		display: flex;
		padding: 0 15px;
		height: 45px;
		line-height: 45px;
		background: #d23939;
		color: #FFFFFF;
		font-size: 14px;
	}

	.center-scoreLeft {
		border-right: 1px solid #e28080;
	}

	.center-scoreLeft span {
		font-size: 18px;
	}

	.center-scoreLeft,
	.center-scoreRight {
		width: 50%;
	}

	.center-scoreRight a {
		display: block;
		color: #FFFFFF;
	}

	.myScore {
		display: -webkit-flex;
		display: flex;
		padding: 15px;
		font-size: 18px;
		background: #FFFFFF;
	}

	.myScore .myScore-left,
	.myScore .myScore-right {
		display: block;
		width: 50%;
		text-align: center;
	}

	.myScore .myScore-left .myScore-link {
		display: block;
	}

	.myScore-link .Bimg img {
		width: 40px;
		height: 40px;
		text-align: center;
	}

	.headline {
		padding: 10px 15px;
	}

	.headline h1 {
		font-size: 14px;
		text-align: left;
		color: #333333;
		font-weight: 100;
	}
.center-menu .second{
	margin-top: 10px;
}
	.mint-cell .mint-cell-title {
		text-align: left;
	}

	.mint-cell .mint-cell-wrapper {
		padding: 0;
	}

	.mint-cell .mint-cell-wrapper .name {
		margin-left: 15px;
	}

