.scoreHead{
		padding: 20px 15px;
		background: #FFFFFF;
		border-bottom: 1px solid #CCCCCC;
	}
	
	.scoreHead .headline{
		font-size: 18px;
		font-weight: bold;
	}
	
	.scoreBack{
		width: 128px;
		height: 128px;
		background: url(/static/img/jifen_bg.png) no-repeat;
		background-size: 100%;
		margin:10px auto;
		line-height: 128px;
	}
	
	.scoreBack .Jnumber{
		text-align: center;
		font-size: 24px;
	}
	
	
	.scoreList ul .scoreList-item{
		margin-top: 10px;
		border-bottom:1px solid #f5f5f5;
		background: #FFFFFF;
	}
	
	
	.scoreList-item .order-message{
		border-bottom:1px solid #f5f5f5;
		padding: 15px;
		display: flex;
		display: -webkit-flex;
	}
	
	.order-message .spImg{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #CCCCCC;
		margin-right: 10px;
	}
	.order-message .spImg img{
		width: 30px;
		height: 30px;
	}
	.order-message .order-message-right p{
		text-align: left;
	}
	
	.order-message-right .headline{
		font-size: 18px;
		color: #333333;
	}
	
	.order-message-right .time,
	.order-message-right .gross-price{
		font-size: 14px;
		color: #999999;
	}
	.order-message-right .time span,
	.order-message-right .gross-price span{
		margin-left: 10px;
	}
	
	.grade-bottom{
		padding: 10px 15px;
		text-align: right;
		overflow: hidden;
	}
	/*.grade-bottom .img{
		display: inline-block;
		width: 19px;
		height: 20px;
		background: url(/static/img/grade_num.png) no-repeat;
		background-size: 19px 20px;
		
	}*/
	.grade-bottom .gradeNum{
		font-size: 15px;
	}
	
	.grade-bottom .gradeDeta{
		display: inline-block;
		font-size: 14px;
		
		min-width: 85px;
		height: 20px;
		background: url(../../img/jifen@2xhuan.png) no-repeat top left;
		background-size: 19px 20px;
		padding-left: 25px;
		float: right;
		
	}
	.grade-bottom .gradeDeta i {
		/*font-style: normal;
		display: block;
		font-size: 14px;
		
		
		height: 20px;
		background: url(../../img/jifen@2xhuan.png) no-repeat top left;
		background-size: 19px 20px;
		padding-left: 25px;
		float: right;*/
		
	}