.returnOder-Content-header{
		padding: 13px 15px;
		font-size: 14px;
		text-align: left;
		background: #FFFFFF;
	}
	
		.returnOder-list ul .returnOder-list-item{
		margin-top: 10px;
		border-bottom:1px solid #e5e5e5;
		background: #FFFFFF;
	}
	
	
	.returnOder-list-item .order-message{
		padding: 15px;
		display: flex;
		display: -webkit-flex;
	}
	
	.order-message .spImg{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #CCCCCC;
		margin-right: 10px;
	}
	
	.order-message-right{
		width: 100%;
		position: relative;
	} 
	.order-message-right .statusTk{
		position: absolute;
		right: 0;
		top: 0;
		font-size: 14px;
		color: #555555;
	}
	.order-message-right .statusQx{
		position: absolute;
		right: 0;
		top: 0;
		font-size: 14px;
		color: #555555;
	}
	.order-message .order-message-right p{
		text-align: left;
	}
	
	.order-message-right .headline{
		font-size: 16px;
		color: #333333;
		padding: 0;
	}
	
	.order-message-right .time{
		font-size: 12px;
		color: #999999;
	}
	.order-message-right .gross-price{
		font-size: 13px;
		color: #999999;
	}
	.order-message-right .time span,
	.order-message-right .gross-price span{
		margin-left: 10px;
	}

.order-message-right .gross-price .color{
	color: #555555;
}
